.icon-shopping {
  background: url('assets/images/shopping-cart-header.png') no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}

.icon-add {
  background: url('assets/images/shopping-cart.png') no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  fill: $primary-color;
}

.icon-user {
  background: url('assets/images/user.png') no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}

.close-icon {
  background: url('assets/images/cancel.png') no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.icon-search {
  background: url('assets/images/search.png') no-repeat;
  width: 32px;
  height: 32px;
}
