.input {
  outline-color: $primary-color;
  border: none;
  border: solid .5px;
  border-color: #d1d1d1;
  padding: 13px 10px;
  box-sizing: border-box;
  &:active {
    border-color: $primary-color;
  }
}

.input-search {
  padding: 7px;
  outline-color: #9e8009;
  font-size: 15px;
  border: solid 1px;
  border-color: #9e8009;
  border-radius: 4px;
}