.page-main {
  padding-top: 150px;
  background: #bdc3c729;
  .section-product {
    .title {
      font-size: 20px;
      padding: 0 0 30px;
      text-transform: uppercase;
    }
    .product-list {
      width: 100%;
      list-style: none;
      float: left;
      border-radius: 3px;
      background: white;
    }
    .product-item {
      height: 340px;
      float: left;
    }
    .product-item-border {
      height: 100%;
      padding: 40px 0 0;
      position: relative;
      transition: .5s;
      overflow: hidden;
      box-sizing: border-box;
      &::after {
        content: '';
        width: 160%;
        height: 200px;
        position: absolute;
        bottom: -240px;
        left: -20px;
        background: #000000eb;
        display: block;
        transform: rotate(-20deg);
        transition: all 200ms ease-in-out;
      }
      &:hover {
        box-shadow: 1px 1px 10px black;
        .icon-add {
          transform: translateY(-60px);
        }
        &::after {
          bottom: -30px;
        }
      }
    }
    .icon-add {
      position: absolute;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(60px);
      z-index: 1;
      transition: all 200ms ease-in-out;
    }
    .wrap-image-product {
      text-align: center;
      width: 100%;
    }
    .product-info {
      padding: 10px 23px 0;
      line-height: 20px;
    }
    .product-name {
      font-size: 13px;
      font-style: normal;
      color: #242424;
      font-weight: 300;
      letter-spacing: .1px;
    }
    .product-price {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
