<div *ngIf="isVisible" class="dialog-form-wrap">
  <div class="dialog-content">
    <span (click)="closeLogin()" class="close-icon"></span>
    <h4 class="title">login</h4>
    <div class="redirect-group">
      <a class="link-redirect active" href="javascript:void(0)">Log In</a>
      <a class="link-redirect" (click)="openRegister()" href="javascript:void(0)">Register</a>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="login(formLogin)">
      <input class="input" type="text" formControlName="userName" placeholder="User Name">
      <p class="error-message">{{userNameValidate()}}</p>
      <input class="input" type="password" formControlName="password" placeholder="Password">
      <p class="error-message">{{passwordValidate()}}</p>
      <button class="btn btn-from" type="submit" [disabled]="!formLogin.valid">login</button>
      <p *ngIf="isMessage"
      [ngClass]="{'login-error': loginMessage.messageName === 'error' }">
      {{loginMessage.message}}</p>
    </form>
  </div>
</div>
