<section class="section-profile">
  <div class="container">
    <h4 class="title">Profile</h4>
    <div class="head-content">
      <div class="border-avatar">
        <img class="avatar" src="assets/images/default-avatar.jpg" alt="avatar">
      </div>
    </div>
    <div class="bottom-content">
      <ul class="list-info">
        <li class="list-info-item">
          <div class="line-info">
            <span class="label">Name:</span>
            <span class="info">{{user.name}}</span>
          </div>
        </li>
        <li class="list-info-item">
          <div class="line-info">
            <span class="label">User Name:</span>
            <span class="info">{{user.userName}}</span>
          </div>
        </li>
        <li class="list-info-item">
          <div class="line-info">
            <span class="label">Birthday:</span>
            <span class="info">{{user.birthday}}</span>
          </div>
        </li>
        <li class="list-info-item">
          <div class="line-info">
            <span class="label">Address:</span>
            <span class="info">{{user.address}}</span>
          </div>
        </li>
        <li class="list-info-item">
          <div class="line-info">
            <span class="label">Phone Number:</span>
            <span class="info">{{user.phoneNumber}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
