$primary-color: #f1c40f;
$primary-color-horver: #dcb721;
$secondary-color: #347fd8;
$secondary-color-hover: #347fd8db;
$bg-color-header: #ecf0f1;
$txt-color-1: #727272;
$color-0: #ffff;
$color-1: #dcb92e;